<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница входа</title>
</head>
<body>
<h2>Система управления задачами</h2>
<form action="/auth/registration">
    <input type="submit" value="Регистрация нового пользователя"/>
</form>
<hr>
<h3>Страница входа</h3>
<br>

<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <br>
    <br>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password"/>
    <br>
    <br>
    <input type="submit" value="Войти"/>

    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
</form>
<br>
<br>
<br>

<h3 style="color: #02153a">Инструкция по работе:</h3>
Пользователь в приложении может работать в двух режимах:
<br>
<br>
1. У пользователя отсутствует начальник.
Пользователь сам регистрируется в системе, создает себе задачи и решает их.
Возможность редактирования данных о себе и о задачах отсутствует.
<br>
<br>
2. У пользователя имеется начальник.
Пользователь также может все как в п.1.
Задачи данному пользователю может также назначать начальник и контролировать их выполнение.
<br>
<br>
Любого пользователя можно назначить начальником одного или нескольких пользователей.
<br>
<br>
Admin системы задается при установке приложения.
Admin обладает полным контролем над всеми пользователями/задачами и может назначать начальников.

</body>
</html>