<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая задача</title>
</head>
<body>
<h2> Создание новой задачи </h2>
<hr/>

<form th:method="POST" th:action="@{/tasks}" th:object="${task}">
    <label for="taskName">Введите наименование задачи * : </label>
    <input type="text" th:field="*{taskName}" id="taskName"/>
    <br/>

    <label for="priority">Введите уровень приоритета задачи * : </label>
    <select th:object="${task}" th:field="*{priority}" id="priority">
        <option th:value="1" th:text="Высокий"></option>
        <option th:value="2" th:text="Средний"></option>
        <option th:value="3" th:text="Низкий"></option>
    </select>
    <br/>

    <label for="description">Введите описание задачи: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <br/>

    <!--    <label for="deadline">Введите крайнее время исполнения: </label>-->
    <!--    <input type="text" th:field="*{deadline}" id="deadline"/>-->
    <!--    <br/>-->

    <input type="submit" value="Создать задачу"/>
</form>

</body>
</html>