<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
    <title>Изменение пароля</title>
</head>
<body>
<h2> Система управления задачами </h2>

<div style="color:#7a061b" sec:authorize="isAuthenticated()">
    Вы вошли как: <span sec:authentication="name"></span></div>
<br>
<div class="inp">
    <form action="/people">
        <input type="submit" value="Список всех пользователей"/>
    </form>
    &nbsp;
    <form action="/tasks">
        <input type="submit" value="Список всех задач"/>
    </form>
    &nbsp;
    <form action="/people/new">
        <input type="submit" value="Создание нового пользователя"/>
    </form>
    &nbsp;
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход">
    </form>
</div>

<hr>
<h3> Изменение пароля пользователя: </h3>

<form th:method="POST" th:action="@{/people/{id}/change-pass(id=${id})}" >
    <label for="new-pass">Введите новый пароль: </label>
    <input type="password" th:name="new-pass" id="new-pass"/>
    <br>
    <input type="submit" value="Изменить пароль"/>
</form>

</body>
</html>